<div id="city_formAddNew">
    <input type="text" id="cityName" placeholder="Ten thanh pho" />
    <input type="button" id="btn_AddNewCity" value="Add new"> 
</div>

<ul id="city_List">
    <li>
        
    </li>
</ul>